header {
  display: none !important;
}

[themeid='8'] .content {
  margin-top: 0 !important;
}

body .win_close {
  background: #fff !important;
  background-image: none !important;
}

.win_close::before {
  color: #000 !important;
}
